# Dependencies
node_modules/

# Environment / secrets
.env
.env.*

# Build/output
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Firebase local/cache files
.firebase/

# Misc
*.tmp